<!DOCTYPE html>
<html>
<title>Python Learning</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>We&rsquo;很快回来！</h1>
    <div>
        <p>不便之处，但&rsquo;目前正在进行一些维护。 如果你需要你可以永远！ <a href="mailto:#">联系我们</a>, 或许我们&rsquo;很快就会上网！</p>
        <p>&mdash; The Team</p>
    </div>
</article>
</html>
